#bet-0 {
  float: left;
  height: 210px;
  width: 44px;
}

body {
  margin: 0px;
}

#canvas-wrapper {
  background: green;
  float: left;
  height: 400px;
  width: 400px;
}

#chip-piles {
  float: right;
  height: 100px;
  width: 200px;
}

#game-board {
  background: #00a200;
  float: left;
  height: 350px;
  margin: 32px 0px 0px 0px;
  text-align: center;
  width: 616px;
}

#game-table {
  background: #00c400;
  margin: auto;
  width: 1024px;
}

.num-bets {
  float: left;
  height: 70px;
  width: 44px;
}

#num-bets-area {
  height: 210px;
  width: 616px;
}

.other-bets {
  float: left;
  height: 70px;
  width: 88px;
}

#other-bets-area {
  height: 140px;
  margin: 0px 44px 0px 44px;
  width: 528px;
}

#team1 {
  background: blue;
  float: left;
  height: 100px;
  width: 100px;
}

#team2 {
  background: yellow;
  float: left;
  height: 100px;
  width: 100px;
}

.thirds-bets {
  float: left;
  height: 70px;
  width: 176px;
}