#bet-board {
  height: 350px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 620px;
  z-index: 1;
}

#bet-board-lower {
  height: 138px;
  margin: 0px 35px 0px 46px;
  width: 528px;
}

#bet-board-upper {
  height: 212px;
  width: 620px;
}

#bet-column-1st {
  height: 68px;
}

#bet-column-3rd {
  height: 72px;
}

#bet-spacer-column {
  float: right;
  height: 211px;
  width: 46px;
}

.bet-spacer-column {
  height: 70px;
  width: 46px;
}

.bet-spacer-column:hover {
  background: #00c400;
}

.bet-spacer-horizontal-long {
  float: left;
  height: 8px;
  width: 40px;
}

.bet-spacer-horizontal-long:hover {
  background: #00c400;
}

.bet-spacer-horizontal-short {
  float: left;
  height: 8px;
  width: 36px;
}

.bet-spacer-horizontal-short:hover {
  background: #00c400;
}

.bet-spacer-other {
  float: left;
  height: 72px;
  width: 88px;
}

.bet-spacer-other:hover {
  background: #00c400;
}

.bet-spacer-square {
  float: left;
  height: 8px;
  width: 8px;
}

.bet-spacer-square:hover {
  background: #00c400;
}

.bet-spacer-thin-bottom {
  float: left;
  height: 58px;
  width: 8px;
}

.bet-spacer-thin-bottom:hover {
  background: #00c400;
}

.bet-spacer-thin-middle {
  float: left;
  height: 62px;
  width: 8px;
}

.bet-spacer-thin-middle:hover {
  background: #00c400;
}

.bet-spacer-thin-top {
  float: left;
  height: 68px;
  width: 8px;
}

.bet-spacer-thin-top:hover {
  background: #00c400;
}

.bet-spacer-thirds {
  float: left;
  height: 66px;
  width: 176px;
}

.bet-spacer-thirds:hover {
  background: #00c400;
}

.bet-spacer-wide-bottom {
  float: left;
  height: 58px;
  width: 36px;
}

.bet-spacer-wide-bottom:hover {
  background: #00c400;
}

.bet-spacer-wide-end {
  float: left;
  height: 68px;
  width: 40px;
}

.bet-spacer-wide-end:hover {
  background: #00c400;
}

.bet-spacer-wide-end-bottom {
  float: left;
  height: 62px;
  width: 40px;
}

.bet-spacer-wide-end-bottom:hover {
  background: #00c400;
}

.bet-spacer-wide-middle {
  float: left;
  height: 62px;
  width: 36px;
}

.bet-spacer-wide-middle:hover {
  background: #00c400;
}

.bet-spacer-wide-top {
  float: left;
  height: 68px;
  width: 36px;
}

.bet-spacer-wide-top:hover {
  background: #00c400;
}

#bet-straightup-0 {
  float: left;
  height: 210px;
  margin-bottom: 9px;
  width: 42px;
}

#bet-straightup-0:hover {
  background: #00c400;
}

#bet-straightup-34 {
  height: 58px;
}

body {
  margin: 0px;
}

#canvas-wrapper {
  background: green;
  float: left;
  height: 400px;
  width: 400px;
}

#chip-piles {
  float: right;
  height: 100px;
  width: 200px;
}

#game-board {
  background: #00a200;
  float: left;
  height: 350px;
  margin: 32px 0px 0px 0px;
  position: relative;
  text-align: center;
  width: 620px;
  z-index: 0;
}

#game-table {
  background: #00c400;
  margin: auto;
  width: 1024px;
}

.num-bets {
  border-right: 4px solid #ffffff;;
  border-top: 4px solid #ffffff;
  float: left;
  height: 66px;
  width: 40px;
}

#num-bets-area {
  border-bottom: 4px solid #ffffff;
  height: 206px;
  width: 620px;
}

#options {
  background: cyan;
}

.other-bets {
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  float: left;
  height: 66px;
  width: 84px;
}

#other-bets-area {
  border-left: 4px solid #ffffff;
  height: 140px;
  margin: 0px 42px 0px 44px;
  width: 528px;
}

#score-board {
  float: left;
  height: 100px;
  width: 200px;
}

#spot-0 {
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  float: left;
  height: 206px;
  width: 40px;
}

#team1-chips {
  background: blue;
  float: left;
  height: 100px;
  width: 100px;
}

#team1-score {
  background: blue;
  float: left;
  height: 100px;
  width: 100px;
}

#team1-undo-flag {
  background: red;
  display: block;
}

#team2-chips {
  background: yellow;
  float: left;
  height: 100px;
  width: 100px;
}

#team2-score {
  background: yellow;
  float: left;
  height: 100px;
  width: 100px;
}

#team2-undo-flag {
  background: red;
  display: block;
}

.thirds-bets {
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  float: left;
  height: 66px;
  width: 172px;
}

.token {
  background-color: red;
  color: #000000;
  font-size: 10px;
  height: 10px;
  margin: auto;
  width: 10px;
}