@font-face {
  font-family: "digital";
  src: url(ds-digib.ttf) format("truetype");
}

.black {
  background: #000000;
}

#bet-board {
  height: 350px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 620px;
  z-index: 1;
}

#bet-board-lower {
  height: 138px;
  margin: 0px 35px 0px 46px;
  width: 528px;
}

#bet-board-upper {
  height: 212px;
  width: 620px;
}

#bet-column-1st {
  height: 68px;
}

#bet-column-3rd {
  height: 72px;
}

#bet-spacer-column {
  float: right;
  height: 211px;
  width: 46px;
}

.bet-spacer-column {
  height: 70px;
  width: 46px;
}

.bet-spacer-horizontal-long {
  float: left;
  height: 8px;
  width: 40px;
}

.bet-spacer-horizontal-short {
  float: left;
  height: 8px;
  width: 36px;
}

.bet-spacer-other {
  float: left;
  height: 72px;
  width: 88px;
}

.bet-spacer-square {
  float: left;
  height: 8px;
  width: 8px;
}

.bet-spacer-thin-bottom {
  float: left;
  height: 58px;
  width: 8px;
}

.bet-spacer-thin-middle {
  float: left;
  height: 62px;
  width: 8px;
}

.bet-spacer-thin-top {
  float: left;
  height: 68px;
  width: 8px;
}

.bet-spacer-thirds {
  float: left;
  height: 66px;
  width: 176px;
}

.bet-spacer-wide-bottom {
  float: left;
  height: 58px;
  width: 36px;
}

.bet-spacer-wide-end {
  float: left;
  height: 68px;
  width: 40px;
}

.bet-spacer-wide-end-bottom {
  float: left;
  height: 62px;
  width: 40px;
}

.bet-spacer-wide-middle {
  float: left;
  height: 62px;
  width: 36px;
}

.bet-spacer-wide-top {
  float: left;
  height: 68px;
  width: 36px;
}

#bet-straightup-0 {
  float: left;
  height: 210px;
  margin-bottom: 9px;
  width: 42px;
}

#bet-straightup-34 {
  height: 58px;
}

.blue {
  background: #004574;
}

body {
  font-family: "Cantata One";
  margin: 0px;
}

#canvas-wrapper {
  background: #397564;
  float: left;
  height: 374px;
  width: 374px;
}

#chip-area {
  float: right;
  height: 74px;
  width: 620px;
}

.chip-counts {
  float: left;
  font-size: 10pt;
  height: 10px;
  padding: 24px 0px 0px 4px;
  width: 10px;
}

#chip-spot {
  height: 72px;
  margin: auto;
  text-align: center;
  width: 176px;
}

#cog-wheel {
  float: right;
}

#game-board {
  background: #397564;
  float: left;
  height: 350px;
  position: relative;
  text-align: center;
  width: 620px;
  z-index: 0;
}

#game-table {
  background: #397564;
  -moz-box-shadow: 0 0 5px 5px #000000;
  -webkit-box-shadow: 0 0 5px 5px #000000;
  box-shadow: 0 0 5px 5px #888888;
  height: 514px;
  margin: 60px auto 0px auto;
  padding: 0px 30px 0px 0px;
  width: 994px;
}

#glass1, #glass2 {
  padding: 5px 1px 0px 0px;
}

#min-max {
  background: #1c1e19;
  border-radius: 5px;
  color: #ffffff;
  font-size: 10pt;
  float: left;
  height: 32px;
  margin: 25px 0px 0px 0px;
  padding: 6px;
  text-align: center;
  width: 72px;
}

.min-max-word {
  margin: 0px 0px 0px 5px;
}

.num-bets {
  border-right: 4px solid #ffffff;;
  border-top: 4px solid #ffffff;
  float: left;
  height: 66px;
  position: relative;
  width: 40px;
  z-index: -1;
}

#num-bets-area {
  border-bottom: 4px solid #ffffff;
  height: 206px;
  width: 620px;
}

#number-0-span {
  top: 93px;
}

.numbers {
  color: #ffffff;
  display: block;
  font-size: 22pt;
  font-style: bold;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  height: 20px;
  position: absolute;
  right: 0px;
  width: 55px;
  top: 22px;
}

#options {
  font-size: 10pt;
  height: 40px;
  visibility: hidden;
}

.other-bets {
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  float: left;
  height: 44px;
  padding: 22px 0px 0px 0px;
  position: relative;
  width: 84px;
  z-index: -1;
}

#other-bets-area {
  border-left: 4px solid #ffffff;
  color: #ffffff;
  font-family: "Cantata One";
  font-size: 16pt;
  height: 140px;
  margin: 0px 42px 0px 44px;
  width: 528px;
}

.red {
  background: #ff1a37;
}

#reset, #undo {
  border-radius: 5px;
  cursor: pointer;
  height: 14px;
  padding: 2px 3px 3px 3px;
  width: 97px;
}

#reset:hover, #undo:hover {
  background: #8dbfb1;
}

#score-area {
  float: left;
  height: 70px;
  width: 374px;
}

#score-board {
  color: #ffffff;
  float: left;
  height: 59px;
  margin: 10px 0px 0px 122px;
  text-align: right;
  width: 131px;
}

#settings-area {
  float: right;
  height: 90px;
  width: 620px;
}

#settings-button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 14pt;
  height: 14px;
  margin: 0px 0px 0px 79px;
  padding: 2px;
  width: 18px;
}

#settings-button:hover {
  background: #77b3a2;
}

#settings-menu {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: right;
  height: 60px;
  margin: 25px 0px 0px 0px;
  padding: 5px;
}

#settings-reset {
  margin: 0px 0px 0px 5px;
}

#settings-undo {
  margin: 0px 0px 0px 7px;
}

#spot-0 {
  border: 4px solid #ffffff;
  float: left;
  height: 202px;
  position: relative;
  width: 40px;
}

#spot-1, #spot-4, #spot-7,
#spot-10, #spot-13, #spot-16,
#spot-19, #spot-22, #spot-25,
#spot-28, #spot-31, #spot-34 {
  height: 62px;
}

#team1 {
  float: left;
  text-align: center;
  width: 58px;
}

#team2 {
  float: right;
  text-align: center;
  width: 58px;
}

#team1-chips {
  border-radius: 5px;
  cursor: pointer;
  float: left;
  height: 62px;
  margin: 6px 0px 0px 8px;
  padding: 0px 6px 0px 6px;
  position: relative;
  width: 60px;
  z-index: 1;
}

#team1-score {
  background: #1c1e19;
  border-radius: 5px;
  float: left;
  font-family: "digital";
  font-size: 34pt;
  height: 44px;
  padding: 0px 6px 0px 3px;
  width: 49px;
}

#team1-undo-flag, #team2-undo-flag {
  border-radius: 5px;
  cursor: pointer;
  font-size: 8pt;
  left: 13px;
  line-height: -1;
  padding: 1px 4px 0px 4px;
  position: absolute;
  text-align: left;
  top: 45px;
  width: 40px;
}

#team1-undo-flag:hover, #team2-undo-flag:hover {
  background: #61a793;
}

#team2-chips {
  border-radius: 5px;
  cursor: pointer;
  float: right;
  height: 62px;
  margin: 6px 8px 0px 0px;
  padding: 0px 6px 0px 6px;
  position: relative;
  width: 60px;
  z-index: 1;
}

#team2-score {
  background: #1c1e19;
  border-radius: 5px;
  float: left;
  font-family: "digital";
  font-size: 34pt;
  height: 44px;
  margin: 0px 0px 0px 15px;
  padding: 0px 6px 0px 3px;
  width: 49px;
}

#team-names {
  float: left;
  font-size: 8pt;
  height: 15px;
  width: 131px;
}

.thirds-bets {
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  float: left;
  height: 44px;
  padding: 22px 0px 0px 0px;
  position: relative;
  width: 172px;
  z-index: -1;
}

.token {
  border: 1px solid #000000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 0px;
  padding: 0px 0px 0px 1px;
  position: absolute;
  width: 20px;
}

.yellow {
  background: #ffe500;
}